/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.article {
  height: 50px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-50 {
  width: 50%;
}

.article-100 {
  width: 100%;
}




