/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  border-width: .2px;
  height: 0px;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* LAYOUT */
.container, .container-fluid {
  width: 100%;
}

.container {
  padding: 0 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: auto;
}

.col-1 {
  width: 16.6%;
}

.col-2 {
  width: 33.33%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.6%;
}

.col-5 {
  width: 83.3%;
}

.col-6 {
  width: 100%;
}

.d-none {
  display: none;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 48px #0000001a;
  z-index: 999;
}

/* COMPONENTS */
.logo-small {
  width: 75px;
  height: auto;
  padding-top: 3px;
}

.logo-large {
  width: 50%;
  height: auto;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* CONTENT */
.content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("../images/content-1.jpeg");
}

.content-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("../images/content-2.jpeg");
}

.content-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("../images/content-3.jpeg");
}

.content-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("../images/content-4.jpeg")
}

.content-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("../images/content-5.jpeg")
}

/* CHANNELS */
.channel-1 {
  background-image: url("../images/channel-1.webp");
}

.channel-2 {
  background-image: url("../images/channel-2.jpeg");
}

.channel-3 {
  background-image: url("../images/channel-3.jpeg");
}

.channel-4 {
  background-image: url("../images/channel-4.jpeg");
}

.channel-5 {
  background-image: url("../images/channel-5.webp");
}

/* NEWSLETTER */
.newsletter {
  background-image: url("../images/content-3.jpeg");
  background-attachment: fixed;
}

/* UTILITIES */
.rajdani {
  font-family: 'Rajdhani', sans-serif;
}

.semi-bold {
  font-weight: 600;
}

.muted {
  color: gray;
}

.border-solid {
  border: solid 1px;
}

.border-white {
  border-color: white;
}

.border-none {
  border: none;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-30 {
  border-radius: 30px;
}

.outline-none {
  outline: none;
}

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: rgb(248, 248, 248);
}

.bg-black {
  background-color: black;
}

.bg-gold {
  background-color: gold;
}

.bg-turquoise {
  background-color: turquoise;
}

.bg-trans {
  background-color: transparent;
}

.text-small {
  font-size: 14px;
}

.text-md {
  font-size: 1.3rem;
}

.text-lg {
  font-size: 1.8rem;
}

.text-xl {
  font-size: 2.5rem;
}

.text-xxl {
  font-size: 3rem;
}

.text-no-bold {
  font-weight: 400;
}

.text-white {
  color: white;
}

.text-turquoise {
  color: turquoise;
}

.text-purple {
  color: purple;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-50 {
  padding: 50px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-50 {
  padding-bottom: 50px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ml-5 {
  margin-left: 3px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15{
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.h-auto {
  height: auto;
}

.h-100 {
  height: 100%;
}

.h-250 {
  height: 250px;
}

.h-300 {
  height: 300px;
}

.h-400 {
  height: 400px;
}

.h-450 {
  height: 450px;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-200 {
  width: 200px;
}

.max-width-1280 {
  max-width: 1280px;
}

.margin-auto {
  margin: 0 auto;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}

.hover-underline:hover {
  text-decoration: underline;
}

/*----------------------------------------------RESPONSIVE STYLES----------------------------------------*/

/* TABLET */
@media screen and (min-width: 766px) {
  .container {
    padding: 0 5%;
  }

  .col-md-1 {
    width: 16.6%;
  }

  .col-md-2 {
    width: 33.3%;
  }

  .col-md-3 {
    width: 50%;
  }

  .col-md-4 {
    width: 66.6%;
  }

  .col-md-5 {
    width: 83.3%;
  }

  .col-md-6 {
    width: 100%;
  }

  .col-md {
    width: auto;
  }

  .w-md-50 {
    width: 50%;
  }

  .md-text-left {
    text-align: left;
  }

  .md-align-items-start {
    align-items: start;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 20px;
  }

  .col-lg-1 {
    width: 16.6%;
  }

  .col-lg-fourth {
    width: 25%;
  }

  .col-lg-2 {
    width: 33.33%;
  }

  .col-lg-3 {
    width: 50%;
  }

  .col-lg-4 {
    width: 66.6%;
  }

  .col-lg-6 {
    width: 100%;
  }

  .col-lg {
    width: auto;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-flex {
    display: flex;
  }

  .mt-lg-0 {
    margin-top: 0;
  }

  .mb-lg-75 {
    margin-bottom: 75px;
  }

  .mt-lg-25 {
    margin-top: 25px;
  }

  .mt-lg-200 {
    margin-top: 200px;
  }

  .h-lg-300 {
    height: 300px;
  }

  .h-lg-500 {
    height: 500px;
  }

  .text-lg-xxl {
    font-size: 3rem;
  }

  .lg-space-around {
    justify-content: space-around;
  }

  .w-lg-100 {
    width: 100px;
  }
}