/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

/* LAYOUT */
.container, .container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: auto;
}

.col-2 {
  width: 33.33%;
}

.col-3 {
  width: 50%;
}

.col-6 {
  width: 100%;
}

/*.col-2, .col-3, .col-6 {
  border: 2px solid gray;
}*/

.d-none {
  display: none;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 48px #0000001a;
}

/* COMPONENTS */
.logo-small {
  width: 75px;
  height: auto;
  padding-top: 3px;
}

.logo-large {
  width: 50%;
  height: auto;
}

/* UTILITIES */
.rajdani {
  font-family: 'Rajdhani', sans-serif;
}

.semi-bold {
  font-weight: 600;
}

.muted {
  color: gray;
}

.bg-white {
  background-color: white;
}

.bg-gold {
  background-color: gold;
}

.text-small {
  font-size: 14px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15{
  margin-bottom: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-100 {
  margin-top: 100px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

/*----------------------------------------------RESPONSIVE STYLES----------------------------------------*/

/* TABLET */
@media screen and (min-width: 766px) {
  .container {
    padding: 0 5%;
  }

  .col-md-3 {
    width: 50%;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 20px;
  }

  .col-lg-1 {
    width: 16.6%;
  }

  .col-lg-fourth {
    width: 25%;
  }

  .col-lg-2 {
    width: 33.33%;
  }

  .col-lg-3 {
    width: 50%;
  }

  .col-lg-4 {
    width: 66.6%;
  }

  .col-lg-6 {
    width: 100%;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-none {
    display: none;
  }

  .mt-lg-0 {
    margin-top: 0;
  }

  .mb-lg-75 {
    margin-bottom: 75px;
  }

  .mt-lg-200 {
    margin-top: 200px;
  }
}