/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 100px;
  font-family: 'Work Sans', sans-serif;
}

h3 {
  margin: 30px 0px;
}

.wrapper {
  margin: 0 24px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.article {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media, .events, .spaces, .programs, .more, .about {
  width: 50%;
}

/* NAV */

.nav-upper-center, .nav-upper-right, .nav-lower {
  display: none;
}

.nav-alert {
  width: 100%;
  background-color: gold;
  padding: 10px 20px;
  font-size: 14px;
}

.nav {
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 0 48px #0000001a;
}

.nav-upper {
  justify-content: left;
  padding: 10px 20px;
}

.nav-lower {
  justify-content: left;
}

.nav-upper-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.fas.fa-th{
  font-size: 24px;
}

.grid-icon, .mail-icon {
  color: gray;
  margin: 10px 20px 10px 10px;
}

.logo-small {
  width: 75px;
  height: auto;
  padding-top: 3px;
}

.menu-item {
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: gray;
  margin: 0px 10px;
  text-decoration: none;
}

/* HERO */
.logo-large {
  width: 50%;
  height: auto;
}

.slogan {
  color: rgb(117, 117, 117);
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .wrapper {
    margin: 0 64px;
  }

  .content-3, .content-4, .story > .article, .channel > .article,
  .watch-left, .watch-right, .work-left, .work-right {
    width: 50%;
  }
}


/* DESKTOP */
@media screen and (min-width: 1024px) {
  .wrapper {
    margin: 0 32px;
  }

  .hero-left, .hero-right, .content-left, .content-right, .content-3, .content-4 {
    width: 50%;
  }

  .articles > .article {
    width: 20%;
  }

  .story > .article, .channel > .article {
    width: 25%;
  }

  .more, .about, .footer-hero {
    width: 33.33%;
  }

  .watch-left, .watch-right, .work-left, .work-right {
    width: 50%;
  }

  .nav-upper-center, .nav-upper-right, .nav-lower {
    display: initial;
  }

  .grid-icon {
    display: none;
  }

  .nav-upper {
    justify-content: space-between;
  }

  .hero {
    margin: 150px 0px 100px 0px;
  }

  .hero-left {
    justify-content: left;
    padding-left: 50px;
  }

  .hero-right {
    justify-content: right;
  }

  .slogan {
    font-size: 36px;
  }
}