/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container, .hero-container, .content-container, .article-container, .story-container, .channel-container, .newsletter-container,
.watch-container, .work-container, .work-with-us-container, .work-items-container, .footer-container, .footer-hero-container, .footer-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.article {
  height: 50px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-50 {
  width: 50%;
}

.article-100 {
  width: 100%;
}




